# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env

# VS Code
.vscode/

# Logs
logs/
*.log
*.log.*

# macOS
.DS_Store

# Sequelize specific
*.sqlite
*.sqlite3

# Coverage
coverage/
